body, html{
    height:100%;
    margin: 0px;
}

nav li{
    display: inline;
    margin: 20px;
}

nav ul{
    background-color: black;
    margin: 0;
    list-style-type: none;
    width: 100%;
    padding: 20px;
}

nav{
    display: block;
    color: white;
    
}

nav a{
    color: rgb(104, 101, 101);
    text-decoration: none;
}

nav a:hover{
    color: white;
}

.hero-image{
    background-image:linear-gradient(rgba(0,0,0,0),rgba(0,0,0,1)),url("../images/vacay.jpg");
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center;
}

.hero-text{
    color: whitesmoke;
    text-align: center;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
}

main{
    overflow: auto;
}

#main{
    width: 70%;
    float:left;
    height:100%;
    padding-left: 20px;
    padding-right:20px;
    padding-top: 20px;
}

#side{
    width: 20%;
    float:right;
    height: 100%;
    padding: 20px;
    text-align: center;

}

#profile-image{
    width:200px;
    border-radius: 50%;
    border: 5px solid lavender;
    position: relative;
}

#profile{
    text-align: center;
}

#Yogi{
    width: 400px;
    height: 400px;
}

#ring{
    width: 400px;
}

#additional{
    text-align: center;
}

#contact{
    text-align: center;
}

.side-articles ul{
    list-style-type: none;
}